@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans Caption";

  font-display: swap;
  src:
    url("../fonts/pt-sans-caption-bold.woff2") format("woff2"),
    url("../fonts/pt-sans-caption-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans Caption";

  font-display: swap;
  src:
    url("../fonts/pt-sans-caption-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-caption-regular.woff") format("woff");
}
