.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container--no-padding {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width:$tablet) {
  .container {
    max-width: 590px;
  }
}

@media (min-width:$desktop) {
  .container {
    max-width: 1160px;
    padding-right: 300px;
    padding-left: 300px;
  }
}
