.form__item {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  border: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item > .heading {
  margin-bottom: 16px;
}

.form__parameters {
  margin-bottom: 34px;
}

.form__submit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 42px;
}

.form__submit-button {
  margin-bottom: 15px;
}

.form__reset-button {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 16px;
  color: $color-warning;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  transition: 0.3s ease;
  transition-property: color, box-shadow;

  &:hover,
  &:focus,
  &:active {
    color: $color-warning-hover;

    outline: none;
  }

  &:disabled {
    color: $color-gray-lighter;

    cursor: not-allowed;
  }
}

.form__reset-button svg {
  flex-shrink: 0;
  margin-right: 1px;

  fill: currentColor;
}

@media (min-width:$tablet) {
  .form__submit-button {
    margin-right: 24px;
  }

  .form__submit {
    flex-direction: row;
  }
}
