.heading-main,
.heading {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans Caption", "Arial", sans-serif;
}

.heading-main {
  font-size: 64px;
  line-height: 83px;
}

.heading {
  font-size: 32px;
  line-height: 41px;
}
