.inputs-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.inputs-group .input {
  margin-right: 15px;
  margin-bottom: 15px;
}

.inputs-group input {
  &:focus {
    box-shadow: 0 0 3px 3px $color-accent-hover;
  }
}

@media (min-width: $desktop) {
  .inputs-group .input:nth-child(2) {
    margin-right: auto;
    margin-left: 47px;
  }
}
