.switcher {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: "PT Sans Caption", "Arial", sans-serif;
  text-align: center;

  border-radius: 4px;
}

.switcher__item {
  flex: 1 1 0;

  &:first-of-type label {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-of-type label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:only-child label {
    border-radius: 4px;
  }
}

.switcher__item + .switcher__item {
  margin-left: -1px;
}


.switcher__item label {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;

  text-align: center;
  color: $color-text-black;

  background-color: transparent;
  border: solid 0.5px $color-accent;
  cursor: pointer;

  transition: 0.3s ease;
  transition-property: color, border, background, z-index, margin;

  user-select: none;

  &:hover {
    z-index: 3;

    color: $color-accent;
  }
}

.switcher__item input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.switcher__item input[type="radio"]:checked + label {
  z-index: 0;

  color: $color-text-white;

  background-color: $color-accent;
  border-color: transparent;
}

.switcher__item input[type="radio"]:checked + label:hover {
  color: $color-text-white;
}
