*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  width: 100%;

  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans Caption", "Arial", sans-serif;
  color: $color-text-black;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

/* firefox placeholder \ invalid fix + ios bdrs */
input,
textarea {
  border-radius: 0;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

/* input[number] arrows removal */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

/* ios inputs reset */
select,
textarea,
input:matches([type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]) {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.header,
.footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
